@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.logo {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
}

.containerLogo {
  display: flex;
  justify-content: center;
  background-color: #0768ab;
}

.containerNav {
  background-color: #f12325;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.containerNav a {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.containerNav a:after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

.containerNav a:hover {
  color: #fff;
}

.containerNav a:hover:after {
  width: 100%;
}

.navbar {
  animation-duration: 0.5s;
}
